a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.container {
	width: 100%;
	max-width: 1750px
}

header.header {
	background-color: #000;
	box-shadow: 0 4px 10px -4px #000
}

.header_main .header-section {
	display: flex;
	align-items: flex-end;
	padding: 30px 20px
}

.header_main .logo_section {
	    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo_div {
	display: flex
}
.logo_text {
	padding-left: 25px;
}
.logo_text h1 {
	color: #fff;
	font-size: 43px;
	font-weight: 600
}

.admin_login {
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
	text-align: right
}

.admin_login a {
	color: #fff;
	font-size: 17px;
	text-decoration: underline
}

#sidebar {
	background: #525252
}

.side-bar-main {
	padding: 4rem 1rem!important
}

#sidebar h1 {
	font-size: 23px
}

#sidebar ul.components {
	margin-bottom: 2rem!important
}

#sidebar ul.components h3.menu_title {
	padding-bottom: 15px
}

#sidebar ul.components li {
	padding-left: 20px;
	position: relative
}

#content {
	padding-right: 2rem!important
}

.sub-menu-drawer {
	position: absolute;
	left: 106%;
	top: -45px;
	z-index: 999;
	background: #e1f4ff;
	padding: 20px 40px;
	visibility: hidden;
	opacity: 0;
	transition: .2s linear;
	max-width: 500px
}

.sub-menu-drawer:before {
	        content: "\f177";
    position: absolute;
    left: -40px;
    font: normal normal normal 14px/1 FontAwesome;
    top: 45px;
    font-size: 21px;
}
#sidebar ul.components li .sub-menu-drawer ul.sub-drawer li.single_item img.product_img {
	width: 100%;
	padding-bottom: 5px
}

#sidebar ul.components li .sub-menu-drawer ul.sub-drawer li.single_item {
	padding: 0 5px;
	text-align: center
}

#sidebar ul.components li .sub-menu-drawer ul.sub-drawer li.single_item p {
	color: #000;
	font-size: 15px
}

#sidebar ul.components li:hover .sub-menu-drawer {
	visibility: visible;
	opacity: 1
}

form.customer-info {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 30px;
	background-color: #ccc
}

form.customer-info .form-group {
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 4px
}

form.customer-info ._email_,
form.customer-info ._password_ {
	flex: 0 0 100%;
	max-width: 100%
}

form.customer-info h2.form_title {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 0 2px;
	font-size: 21px;
	font-weight: 800;
	color: #585858
}

.right-side {
	position: relative
}

.select_size h2.size-title {
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 10px
}

.select_size ul {
	padding-left: 7px
}

.select_size p {
	position: absolute;
	bottom: -18px;
	width: 100%;
	font-weight: 700;
	left: 20px;
	font-size: 14px
}

.select_size ul li {
	padding-bottom: 6px
}
.select_size ul li a {
	color: #000;
}
.select_size ul li a:hover {
    font-weight: 600;
}
.last-step .save-reload-btn {
	margin-bottom: 50px;
}

.last-step .save-reload-btn button.save-btn {
	background: #fecd00;
	padding: 9px 10px;
	color: #000;
	font-size: 17px;
	font-weight: 700;
	border: 0;
	border-radius: 0;
	margin: 0 0 0 15px
}

.last-step form.project-number {
	background: #ccc;
	padding: 20px 30px;
	float: right;
	margin-bottom: 40px
}

.last-step form.project-number h3 {
	text-align: left;
	font-size: 20px;
	padding-bottom: 6px
}

.last-step form.project-number input.number {
	padding: 7px 15px;
	border: 0
}

.main_two {
	display: inline-block;
	width: 100%;
	padding-top: 30px
}

.main_two ._grid_ {
	display: inline-block;
	width: 100%;
	min-height: 650px;
	border: 1px solid #000;
	margin-top: 23px
}

.empty-div {
	display: inline-block;
	width: 100%;
	min-height: 500px;
	background: #e3fbfb;
	border: 2px solid #000
}

.main_two .estimate-bulider {
	display: flex;
	flex-wrap: wrap
}

.estimate-bulider h2 {
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 17px;
	padding-bottom: 6px;
	font-weight: 800
}

.main_two a.submit_ {
	display: inline-block;
	width: 100%;
	background: linear-gradient(to bottom, #fff -13%, #36a309 100%);
	padding: 10px 10px;
	flex: 0 0 100%;
	max-width: 75%;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	color: #fff
}

.main_two a.submit_ span {
	font-size: 14px;
	width: 100%;
	display: block
}

button.print_btn {
	background: #fcce00;
	flex: 0 0 100%;
	max-width: 45%;
	margin: 30px auto;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	padding: 8px 10px;
	font-weight: 700;
	color: #000
}

#sidebar ul.components li .sub-menu-drawer ul.sub-drawer button.slick-arrow {
	background: #abddfb;
	border-radius: 30px
}

#sidebar ul.components li .sub-menu-drawer ul.sub-drawer button.slick-arrow::before {
	font: normal normal normal 14px/1 FontAwesome;
	font-weight: 900
}

#sidebar ul.components li .sub-menu-drawer ul.sub-drawer button.slick-prev::before {
	content: '\f104'
}

#sidebar ul.components li .sub-menu-drawer ul.sub-drawer button.slick-next::before {
	content: '\f105'
}

@media screen and (max-width:1599px) {
	.last-step .save-reload-btn {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end
	}
	.last-step .save-reload-btn button.save-btn {
		font-size: 13px
	}
	.right-side .col-md-6 {
		padding: 0
	}
	#content {
		padding: 2rem!important
	}
	.select_size p {
		bottom: -27px;
		left: 10px
	}
}

@media screen and (max-width:1450px) {
	.last-step form.project-number {
		padding: 20px
	}
	.last-step .save-reload-btn button.save-btn {
		font-size: 13px;
		margin: 0 0 0 5px
	}
	.select_size ul li {
		padding-bottom: 5px;
		font-size: 14px
	}
}

@media screen and (max-width:1310px) {
	.last-step .save-reload-btn button.save-btn {
		font-size: 10px;
		margin: 0 0 0 5px
	}
}

@media screen and (max-width:1199px) {
	.last-step form.project-number h3 {
		font-size: 17px
	}
	.last-step form.project-number {
		padding: 20px 10px
	}
	.last-step form.project-number input.number {
		padding: 7px 5px;
		width: 160px
	}
	.select_size p {
		font-size: 13px
	}
	.main_two a.submit_ {
		max-width: 95%
	}
	.last-step .save-reload-btn button.save-btn {
		margin: 0 0 10px 5px
	}
	.estimate-bulider h2 {
		font-size: 13px
	}
}

@media screen and (max-width:1024px) {
	#content .customer_form {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 20px
	}
	#content .right-side {
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap
	}
	.logo_text h1 {
		font-size: 35px
	}
}

@media screen and (max-width:991px) {
	.sub-menu-drawer {
		left: 110%;
		top: 0;
		max-width: 100%
	}
}

@media screen and (max-width:768px) {
	.header_main .logo_section {
		flex: 0 0 50%;
		max-width: 50%;
		width: 100%
	}
	.admin_login {
		flex: 0 0 100%;
		max-width: 100%
	}
	#content .right-side .col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
		width: 100%
	}
}

@media screen and (max-width:640px) {
	.logo_text h1 {
		font-size: 29px
	}
	.sub-menu-drawer {
		max-width: 80%
	}
}

@media screen and (max-width:480px) {
	#content .right-side .col-md-6 {
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%
	}
	#content .right-side .last-step {
		padding-top: 50px;
		display: inline-block;
		width: 100%
	}
	.last-step .save-reload-btn {
		justify-content: center;
		margin-bottom: 10px
	}
	.last-step form.project-number {
		width: 100%;
		text-align: left!important;
		margin-bottom: 0
	}
	.last-step form.project-number input.number {
		width: 100%
	}
	#content {
		padding: 1.8rem!important
	}
	#sidebar {
		margin-left: -220px
	}
	#sidebar {
		min-width: 220px;
		max-width: 220px
	}
	#sidebar h1 .logo {
		font-size: 17px
	}
	#sidebar ul.components h3.menu_title {
		font-size: 12px
	}
}

@media screen and (max-width:450px) {
	.logo_text h1 {
		font-size: 23px
	}
	#sidebar {
		margin-left: -150px
	}
	#sidebar {
		min-width: 150px;
		max-width: 150px
	}
	#sidebar h1 {
		margin-bottom: 15px
	}
	#sidebar h1 .logo {
		font-size: 14px
	}
	#sidebar ul.components li {
		padding-left: 0
	}
	#sidebar ul.components li a {
		font-size: 12px
	}
	#sidebar ul.components h3.menu_title {
		font-size: 12px;
		word-break: break-word
	}
	.side-bar-main {
		padding: 2rem 1rem!important
	}
	#sidebar h1 {
		line-height: 16px
	}
	.sub-menu-drawer {
		max-width: 100%;
		padding: 20px 30px
	}
}

@media screen and (max-width:400px) {
	#sidebar {
		margin-left: -130px
	}
	#sidebar {
		min-width: 130px;
		max-width: 130px
	}
	.sub-menu-drawer {
		max-width: 150%;
		padding: 20px 30px
	}
}